# ==========================
# Python (Compilados e Cache)
# ==========================
__pycache__/
*.pyc
*.pyo
*.pyd
.Python
*.egg-info/
src/*.egg-info/

# ==========================
# Distribuição / Empacotamento (Build da Lib)
# ==========================
build/
dist/
wheels/
*.egg
*.whl

# ==========================
# Ambientes Virtuais & Variáveis
# ==========================
# Protege suas senhas e evita subir a venv inteira
.env
.venv
env/
venv/
ENV/
env.bak/
venv.bak/

# ==========================
# Testes e Qualidade
# ==========================
.pytest_cache/
.coverage
htmlcov/

# ==========================
# Dados (A parte mais importante!)
# ==========================
# Ignora todos os arquivos pesados comuns
*.csv
*.xlsx
*.json
*.parquet
*.pkl
*.joblib

# Ignora TUDO dentro da pasta data
data/*

data/debug_output/

# ==========================
# Jupyter Notebooks
# ==========================
.ipynb_checkpoints/

# ==========================
# IDE e Sistema Operacional
# ==========================
.vscode/
.idea/
*.swp
*~
.DS_Store
Thumbs.db

# ==========================
# Logs
# ==========================
*.log