# Configuration file for ML project Example

data:
  raw_data_path: "data/01 - raw/noshowappointments.csv"
  processed_data_path: "data/02 - preprocessed/noshowappointments_processed.csv"
  # train_path e test_path podem ser definidos posteriormente se houver um split
  # test_path: "data/02 - preprocessed/test.csv"   # opcional, se você for usar depois
  validation_split: 0.2
  target_column: "No-show"

preprocessing:
  handle_missing: "median"        # Como tratar os dados em caso de NAN (median, mean, drop)
  categorical_encoding: "onehot"  # Como converter valores categóricos (onehot, label, target)
  numerical_scaling: "standard"   # Como escalar features numéricas (standard, minmax, robust)
  feature_selection:              # Método de seleção de features
    method: "correlation"         # (correlation, mutual_info, recursive_elimination)
    threshold: 0.8                # Se correlação > 0.8 a feature será removida
  # outlier_treatment:
  #   enabled: false
  #   method: "zscore"               # (zscore, iqr)
  #   threshold: 3.0                 # Limite para considerar um ponto como outlier

# Configuração do split temporal
split:
  strategy: "time"          # "random" ou "time"
  date_column: "appointment_date"
  train_frac: 0.6
  valid_frac: 0.2
  test_frac: 0.2

# Configuração do balanceamento de classes
balancing: 
  enabled: true                   # true ou false
  method: "smote"                 # smote, class_weight, undersample, oversample
  smote:  
    sampling_strategy: 0.3      # Proporção da classe minoritária após o balanceamento
    k_neighbors: 5              # Número de vizinhos para o SMOTE


model:
  type: "RandomForest"
  parameters:
    n_estimators: 100
    max_depth: 10
    min_samples_split: 5
    min_samples_leaf: 2
    random_state: 42


training:
  cv_folds: 5                               # Número de folds para cross-validation
  shuffle: false                            # Se deve embaralhar os dados antes do CV
  scoring: "average_precision"              # Métrica para avaliação durante o treinamento
  early_stopping: false                     # é usado para parar mais cedo se a métrica não melhorar
  save_best_only: true                      # Se deve salvar apenas o melhor modelo
  monitor_metric: "average_precision"       # Métrica a ser monitorada para salvar o melhor modelo


evaluation:                                 # Configurações de avaliação do modelo
  metrics:                                  # Métricas a serem calculadas na avaliação do modelo
    - "roc_auc"                             # Área sob a curva ROC
    - "average_precision"                   # Precisão média (AUC-PR)
    - "recall"                              # Revocação (Sensibilidade)
    - "f1"                                  # Pontuação F1                 
    - "accuracy"                            # Acurácia
  threshold_optimization:                   # Configuração para otimização do limiar de decisão
    enabled: true                           # true ou false
    optimize_for:                           # Métrica para otimizar o limiar (precision, recall, f1, accuracy)    
      primary: "recall"                     # Métrica principal para otimização
      secondary: "precision"                # Métrica secundária para otimização
